body{
    font-family: 'Poppins', sans-serif;
}
.nav-item{
    padding: 10px;
}
.nav-img{
    width: 190px;
}
.nav-link{
    font-weight: 600px;
}
.header{
    background: #F0FFF0;
    width: 100%;
    height: 580px;
}
.style{
    color: white !important;
    padding: 9px 22px;
    background-color: #21B573;
    border-radius: 20px;
}
.style:hover{
    color: red !important;
}
.red{
    color: red;
}
p{
    color: lightgray;
}
.green{
    color: #21B573;
}
.btn{
    color: #fff;
    padding: 12px 36px;
    background: #21B573;
    border-radius: 33px;
    cursor: pointer;
}
h1{
    font-size: 48px;
    font-weight: bold;
}
.row{
    margin-top: 50px;
    line-height: 40px;
}